body {
  background: #111;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.player {
  max-width: 750px;
  background: black;
}

.player__video {
  width: 100%;
}

.controls {
  background: #333;
  padding: 10px;
  display: flex;
  align-items: center;
}

button {
  margin-right: 10px;
  cursor: pointer;
}

.progress {
  height: 10px;
  background: #555;
  cursor: pointer;
}

.progress__filled {
  background: red;
  height: 100%;
  width: 0%;
}